.slick-next:before{
    color:#111827 !important;
}
.slick-prev:before{
    color:#111827 !important;
}
.underline-hover:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0%;
    position: absolute;
    background: #4b5563;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.underline-hover:hover:after { 
    width: 100%; 
    left: 0; 
}